// fontes
$fontPrincipal: Roboto, sans-serif;

// esquema de cores
$corPrincipal: #182c61;
$corDeFundo: #f5f6fa;
$corDeBotao: #44bd32;
$corDeHoverBotao: #4cd137;

// breakpoints
$mobile: 767px;
$tablet: 1023px;
